<div class='navbar-collapse collapse' id='main-menu'>
  <ul id="main_main" class='nav navbar-nav navbar-right'>
    <li><a class="navigate" ng-click="navigation.browseTo('/');" href="javascript:;">Home</a></li>
    <li><a class="navigate" ng-click="navigation.browseTo('players');" href="javascript:;">Players</a></li>
    <li><a class="navigate" ng-click="navigation.browseTo('matches');" href="javascript:;">Matches</a></li>
    <li><a class="navigate" ng-click="navigation.browseTo('teams');" href="javascript:;">Teams</a></li>
  </ul>
</div>